.side_bar {
  padding: 20px 0;
  background: $mainColor;
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  max-width: 250px;
  width: 100%;
  height: 100vh;
  z-index: 9;
  box-shadow: 0 0 10px #8483838c;
  ::-webkit-scrollbar {
    width: 2px !important;
  }
  .header_image {
    @include displayFlex();
    margin: 0 auto 20px;
    .back_btn {
      width: 40px;
      height: 40px;
      background: #fff;
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 8px 8px 0;
      flex-shrink: 0;
      i.pi {
        font-size: 24px;
      }
      &:hover {
        background: $mainColor;
        color: #fff;
      }
    }
    .image {
      max-width: 200px;
      padding-inline: 10px;
      + hr {
        background: #e4e4e4 !important;
      }
    }
  }

}


.components {
  @include displayFlex($direction: column, $justify: start, $align: start);
  // margin-top: 20px;
  max-height: 90vh;
  overflow-y: scroll;
  padding-block: 20px 0px;
}

.component_item {
  @include displayFlex($gap: 8px, $justify: start);
  padding: 8px;
  padding-inline-end: 8px;
  border: 1px solid #fff;
  width: 95%;
  color: #fff;
  margin: 0 auto;
  transition: 0.5s;
  border-radius: 4px;
  user-select: none;
  cursor: grab; 
  &:hover {
    background: #fff;
    color: $mainColor;
  }
&.dragging {
  opacity: 0.5;
  cursor: grabbing;
  transform: scale(0.95);
  border: 1px dashed $mainColor;
  background: lighten($mainColor, 20%);
  color: $mainColor;
}
  .pi:last-of-type {
    opacity: 0.4;
    margin-inline-start: auto;
    font-size: 15px;
  }
}