.content_items{
  @include displayFlex($wrap : wrap);
  max-width: 95%;
  width: 100%;
  .content_item{
    flex-grow: 1;
    width: 100%;
  }


  &.items_6{
    .content_item{
      max-width: 15%;
    }
  }
  &.items_4{
    .content_item{
      max-width: 24%;
    }
  }
  &.items_3{
    .content_item{
      max-width: 29%;
    }
  }
  &.items_2{
    .content_item{
      max-width: 49%;
    }
  }
  &.items_1{
    .content_item{
      max-width: 70%;
    }
  }
  @media (max-width : 567px){
    @include displayGrid();
    .content_item{
      max-width: unset !important;
    }
  }
}