.project_sections {
  @include displayFlex($direction: column , $justify : flex-start);
  margin-top: 20px;
  min-height: 80vh;
  height: 100%;
}
.section {
  border: 1px dashed $mainColor;
  width: 100%;
  min-height: 50px;
  padding-block: 20px;
  border-radius: 4px;
  padding-inline: 20px;
  .section_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    .section_title {
      font-size: clamp(20px, 2.5vw, 30px);
      font-weight: 500;
      padding-bottom: 8px;
    }
    .buttons {
      @include displayFlex($gap: 10px);
      button.section_control {
        min-width: 40px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $mainColor;
        font-size: 20px;
        color: $mainColor;
        padding-inline: 5px;
        &.layout_design{
          display: flex;
          align-items: center;  
          justify-content: center;
        }
        &.pi-eye{
          border-color: $dangerColor;
          color: $dangerColor;
        }
        &:hover{
          background: $mainColor;
          color: #fff;
          &.pi-eye{
            background: $dangerColor;
          }
        }
      }
    }
  }
  .content_items{
    width: 100%;
    margin-block-start: 30px;
    max-width: unset;
    .section_component{
      min-height: 66px;
      // padding-inline: 8px;
      border: 1px solid #e4e4e4;
      border-radius: 8px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $mainColor;
      position: relative;
      background: $mainColor;
      color: #fff;
      &.empty_placeholder {
        width: 100%;
        padding: 12px;
        border: 1px dashed $mainColor;
        border-radius: 6px;
        text-align: center;
        font-size: 14px;
        color: $mainColor;
        background:#f1f1f1 !important;
        &:hover{
          border: 1px dashed $mainColor !important;
        }
        &.is-dragging {
          background: linear-gradient(135deg, lighten($mainColor, 15%), darken($mainColor, 5%)) !important;
          color: #fff;
          // border: 2px dashed rgba($mainColor, 0.6) !important;
          box-shadow: 0 0 10px rgba($mainColor, 0.4);
          // transition: all 0.2s ease-in-out;
        }

      }
      .section_block{
        width: 100%;
        position: relative;
        .section_info{
          @include displayFlex( $justify : start , $gap : 8px);
          width: 200px;
          margin: 0 auto;
          i , span{
            font-size: 20px;
          }
        }
      }
      button.remove_component{
        position: absolute;
        top: 0px;
        right: 0px;
        padding-inline: 25px;
        height: 100%;
        border-radius: 0 4px 4px 0;
        background: $dangerColor;
        border:1px solid $dangerColor;
        color: #fff;
        i.pi{
          font-size: 20px;
        }
        &:hover{
          background: #fff;
          color: $dangerColor;
        }
      }
    }
  }
  .drag-over {
    border: 2px dashed $mainColor;
    background: red;
  }
  &.add_section {
    cursor: pointer;
    // width: 80px;
    // position: fixed;
    // bottom: 50px;
    // right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: unset;
    // margin: 20px 0 0 auto ;
    margin-top: auto;
    // border-style: solid;
    // background: $mainColor;
    // color: #fff;
    i.pi {
      font-size: 25px;
    }
    transition: 0.5s;
    &:hover {
      background: transparent;
      color: $mainColor;
    }
  }
}